.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}