.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.filter-container {
  padding: 0 5vw;
  display: flex;
}

.search {
  flex-grow: 1;
}

.main {
  background-color: var(--background-color);
  color: var(--text-color);
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countries > div {
  margin: 1vw;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}