:root {
  --primary-color: #44e3ff;
  --primary-background-color: #F5F5F5;
  --text-color: #000;
  --background-color: white;
  --surface-background-color: #F5F5F5;
  --surface-color: #000;
}

[data-theme="dark"] {
  --primary-color: #44e3ff;
  --primary-background-color: #1e1e1e;
  --text-color: white;
  --background-color: #121212;
  --surface-background-color: #1e1e1e;
  --surface-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
